<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=jasonbourne.db" providerName="System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<add key="FetchTransactionsQuery" value="SELECT c.CategoryName, SUM(Amount) AS TotalAmount FROM 'Transaction' JOIN Category c USING(CategoryId) WHERE UserId = @UserId GROUP BY CategoryId" />
		<add key="FetchAllGroupedTransactionsQuery" value="SELECT * FROM 'Transaction' WHERE UserId = @UserId GROUP BY CategoryId" />
		<add key="FetchAllTransactionsQuery" value="SELECT * FROM 'Transaction' WHERE UserId = @UserId" />
		<add key="DeleteOneTransactionsQuery" value="DELETE FROM 'Transaction' WHERE TransactionId = @TransactionId" />
		<add key="UpdateTransactionQuery" value="UPDATE 'Transaction' SET Date = @Date, Amount = @Amount, CategoryId = @CategoryId WHERE TransactionId = @TransactionId" />
		<add key="FetchAllCategoriesQuery" value="SELECT * FROM Category" />
		<add key="InsertNewCategory" value="INSERT INTO Category(CategoryName) VALUES (@CategoryName)" />
		<add key="UpdateCategoryQuery" value="UPDATE Category SET CategoryName = @CategoryName WHERE CategoryId = @CategoryId" />
		<add key="DeleteOneCategoryQuery" value="DELETE FROM Category WHERE CategoryName = @CategoryName" />
		<add key="FetchTransactionsPerMonthQuery" value="SELECT c.CategoryName, SUM(Amount) AS TotalAmount FROM 'Transaction' JOIN Category c USING(CategoryId) WHERE UserId = @UserId AND strftime('%m', Date) = @SelectedMonth GROUP BY CategoryId" />
		<add key="InsertNewTransaction" value="INSERT INTO 'Transaction' (UserId, Date, Amount, CategoryId) VALUES (@UserId, @Date, @Amount, @CategoryId)" />
		<add key="InsertNewChangeRequest" value="INSERT INTO ChangeRequest (UserId, NewFirstName, NewLastName, NewEmail, NewDateOfBirth, NewPhoneNumber, Status, RequestDate) VALUES (@UserId, @NewFirstName, @NewLastName, @NewEmail, @NewDateOfBirth, @NewPhoneNumber, @Status, @RequestDate)" />
		<add key="CheckUserChangeRequestStatus" value="SELECT * FROM ChangeRequest WHERE UserId = @UserId AND Status = 'Pending' LIMIT 1"/>
		<add key="FetchChangeRequestsByUser" value="SELECT * FROM ChangeRequest WHERE UserId = @UserId"/>
		<add key="FetchAllCustomersQuery" value="SELECT * FROM User" />
		<add key="FetchLoggedCustomer" value="SELECT * FROM User u WHERE u.Email = @Email" />
		<add key="UpdateUserQuery" value="UPDATE 'User' SET FirstName = @FirstName, LastName = @LastName, Email = @Email, DateOfBirth = @DateOfBirth, PhoneNumber = @PhoneNumber WHERE UserId = @UserId" />
		<add key="FetchAllChangeRequestsQuery" value="SELECT * FROM ChangeRequest" />
		<add key="UpdateChangeRequestByIdQuery" value="UPDATE ChangeRequest SET Status = @Status WHERE ChangeRequestId = @ChangeRequestId" />
		<add key="InsertNewBudget" value="INSERT INTO Budget (UserId, CategoryId, 'Limit') VALUES (@UserId, @CategoryId, @Limit)" />
	</appSettings>
</configuration>
